/* Imports
   ========================================== */
@import "./fonts.css";

/* Document
   ========================================== */
body {
	background: black;
	overflow-x: hidden;
	user-select: none;
	text-underline-position: under;
}

a {
	background: inherit;
	color: inherit;
}

/* Terminal
   ========================================== */
.terminal-container {
	color: limegreen;

	font-family: 'GameGlitz Mono', monospace;
	font-size: 16px;

	margin-left: 10px;
	width: 100%;

	line-height: 150%;
	animation: 400ms normal infinite glitch;
}

.terminal-text {
	white-space: pre-line;
}

.terminal-cursor {
	animation: 1.0s cursor step-end infinite;
}

/* Animations
   ========================================== */

@keyframes glitch {
	0% {
		opacity: 0.5;
	}

	40%, 80% {
		opacity: 1;
	}
}

@keyframes cursor {
	from, to {
		color: #61dd66;
		line-height: 140%;
	}
	50% {
		color: black;
		line-height: 140%;
	}
}